@font-face {
    font-family: 'SourceSansPro';
    src: url(../assets/fonts/SourceSansPro-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'SourceSansPro';
    src: url(../assets/fonts/SourceSansPro-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Lato';
    src: url(../assets/fonts/Lato-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Lato';
    src: url(../assets/fonts/Lato-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Lato-Regular.ttf);
    font-weight: 400;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-Bold.ttf);
    font-weight: 700;
}
@font-face {
    font-family: 'Montserrat';
    src: url(../assets/fonts/Montserrat-Medium.ttf);
    font-weight: 500;
}
